annotated-types==0.7.0
anyio==4.6.2.post1
APScheduler==3.11.0
attrs==23.2.0
click==8.1.7
fastapi==0.115.5
h11==0.14.0
idna==3.10
implicit==0.7.2
numpy==1.26.4
pandas==2.2.3
pydantic==2.10.2
pydantic_core==2.27.1
python-dateutil==2.9.0.post0
pytz==2024.2
RecTools==0.8.0
scipy==1.12.0
six==1.16.0
sniffio==1.3.1
starlette==0.41.3
threadpoolctl==3.5.0
tqdm==4.67.1
typeguard==4.4.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uvicorn==0.32.1
