<html><head><base href="/" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Edit Profile - My Cinema Account</title>
    <link rel="stylesheet" type="text/css" href="/static/css/edit_lk.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <h1>Edit Profile</h1>
    </div>
  </header>

  <main class="container">
    <form class="edit-form" id="profileForm" onsubmit="handleLogin(event)">
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" id="login" name="login" value='{{ auth.login }}' required>
        <div class="error-message" id="nameError">Please enter a valid name</div>
      </div>

      <div class="form-group">
        <label for="password">New password</label>
        <input type="password" id="password" name="new_password">
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        {% if profile.name is not none %}
          <input type="text" id="name" name="name" value="{{ profile.name }}" required>
        {% else %}
          <input type="text" id="name" name="name" required>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="surname">Surname</label>
        {% if profile.surname is not none %}
          <input type="text" id="surname" name="surname" value="{{ profile.surname }}" required>
        {% else %}
          <input type="text" id="surname" name="surname" required>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="sex">Sex</label>
        <select id="sex" name="sex">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
          <option value="prefer-not">Prefer not to say</option>
        </select>
      </div>

      <div class="form-group">
        <label for="birthDate">Birth Date</label>
        {% if profile.birth_date is not none %}
          <input type="date" id="birthDate" name="birth_date" value="{{ profile.birth_date }}" required>
        {% else %}
          <input type="date" id="birth_date" name="birth_date" required>
        {% endif %}
        <div class="error-message" id="birthDateError">Please enter a valid date</div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        {% if profile.email is not none %}
          <input type="email" id="email" name="email" value="{{ profile.email }}" required>
        {% else %}
          <input type="email" id="email" name="email" required>
        {% endif %}
      </div>

      <div class="error-message" id="errorMessage" style="display: none; color: red;"></div>

      <div class="button-group">
        <button type="submit">Save Changes</button>
        <button type="button" class="button-cancel" onclick="goLK()">Cancel</button>
      </div>
    </form>
  </main>

<script src="/static/js/script.js"></script>
</body></html>
