<html><head><base href="/" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Edit Film</title>
<link rel="stylesheet" type="text/css" href="/static/css/upload_film.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <h1>Edit Film</h1>
    </div>
  </header>

  <main class="container">
    <script>
      const filmId = '{{ id }}';
    </script>
    <form class="upload-form" id="filmUploadForm" onsubmit="handleSubmit(event)">
      <div class="form-group">
        <label for="filmName">Film Name</label>
        <input type="text" id="filmName" name="film_name" value="{{ film.name }}">
      </div>

      <div class="form-group">
        <label>Age Rating</label>
        <div class="rating-options">
            <input type="radio" id="0+" name="age_rating" value="0" class="rating-radio" {% if film.age_rating == 0 %}checked{% endif %}>
            <label for="0+" class="rating-label">0+</label>

            <input type="radio" id="6+" name="age_rating" value="6" class="rating-radio" {% if film.age_rating == 6 %}checked{% endif %}>
            <label for="6+" class="rating-label">6+</label>

            <input type="radio" id="12+" name="age_rating" value="12" class="rating-radio" {% if film.age_rating == 12 %}checked{% endif %}>
            <label for="12+" class="rating-label">12+</label>

            <input type="radio" id="16+" name="age_rating" value="16" class="rating-radio" {% if film.age_rating == 16 %}checked{% endif %}>
            <label for="16+" class="rating-label">16+</label>

            <input type="radio" id="18+" name="age_rating" value="18" class="rating-radio" {% if film.age_rating == 18 %}checked{% endif %}>
            <label for="18+" class="rating-label">18+</label>
        </div>
      </div>

      <div class="form-group">
        <label for="year">Year of Production</label>
<!--        TODO: change max year-->
        <input type="number" id="year" name="year" min="1900" max="2024" value="{{ film.year }}">
      </div>

      <div class="form-group">
        <label for="country">Countries (через запятую)</label>
        <input type="text" id="country" name="country" value="{{ countries }}">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" value="{{ film.description }}">
      </div>

      <div class="form-group">
        <label for="genre">Genres (через запятую)</label>
        <input type="text" id="genre" name="genre" value="{{ genres }}">
      </div>


      <div class="form-group">
        <label for="actor">Actors (через запятую)</label>
        <input type="text" id="actor" name="actor" value="{{ actors }}">
      </div>

      <div class="form-group">
        <label for="studios">Studios</label>
        <input type="text" id="studios" name="studios" value="{{ film.studios }}">
      </div>

      <div class="form-group">
        <label for="tags">Tags (через запятую)</label>
        <input type="text" id="tags" name="tags" value="{{ tags }}">
      </div>

      <div class="form-group">
        <label for="director">Directors (через запятую)</label>
        <input type="text" id="director" name="director" value="{{ directors }}">
      </div>

      <div id="loadingIndicator" class="loading-indicator" style="display: none;">
        <div class="spinner"></div>
      </div>
      

      <div class="buttons">
        <button type="button" class="back-btn" onclick="goBack()">Back</button>
        <button type="submit">Edit Film</button>
      </div>
    </form>
  </main>

<script src="/static/js/edit_film.js"></script>
</body></html>