<html><head><base href="." />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/home" class="logo" style="text-decoration: none;">ChocoPy</a>
                <div class="search-container">
                    <input type="text" class="search-bar" name="query" placeholder="Search films..." oninput="handleInput(event)" onkeypress="handleKeyPress(event)">
                    <div class="search-suggestions" id="suggestions">
                    </div>
                </div>
                <div class="button-container">
                    <form action="/manage/" method="GET">
                        <button type="submit" class="lk-btn">Управление пользователями</button>
                    </form>
                    <form action="/upload/" method="GET">
                        <button type="submit" class="lk-btn">Загрузить фильм</button>
                    </form>
                    <form action="/lk/" method="GET">
                        <button type="submit" class="lk-btn">Личный кабинет</button>
                    </form>
                </div>
            </nav>
        </header>
    
        <div class="container">
            {% if films is not none %}
            {% for tag, images in films.items() %}
            <h2 class="section-title">{{ tag }}</h2>
            <div class="main-content">
                {% for image in images %}
                <!-- Video Card 1 -->
                <div class="video-card" onclick="window.location='/films/{{ image['id'] }}'">
                    <div class="thumbnail">
                        <div class="thumbnail-overlay">
                            <img src="/image/{{ image['id'] }}" alt="{{ image['name'] }}" style="width: 400px; height: 230px; margin: 0;">
                        </div>
                    </div>
                    <div class="video-info">
                        <h3 class="video-title">{{ image['name'] }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    
        <script src="/static/js/home.js"></script>
    </body>
    </html>